# 1) Write a python program to display all the header tags from wikipedia.org.

In [1]:
from urllib.request import urlopen
import pandas as pd
import numpy as np
import requests
from requests import get
from bs4 import BeautifulSoup
from bs4 import BeautifulSoup

In [2]:
html = urlopen('https://www.wikipedia.org/')
bs = BeautifulSoup(html, "html.parser")

In [3]:
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="central-textlogo-wrapper">
<span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
Wikipedia
</span>
<strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
</h1>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000 000+
</bdi>
<span class="jsl10n" data-jsl10n="entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
10 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>


## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [12]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [13]:
imdb_url = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"
results = requests.get(imdb_url)

In [14]:
movie_soup = BeautifulSoup(results.text,"html.parser")
# movie_soup

In [15]:
movie_name = []
year_of_release = []
ratings = []

In [16]:
movies = movie_soup.find_all('div', class_='lister-item mode-advanced')

In [17]:
for container in movies:

# Step 9: Add each result from each attribute for each list.

        # name
        name = container.h3.a.text
        movie_name.append(name)
        #year
        year = container.h3.find('span', class_='lister-item-year').text
        year_of_release.append(year)
        #  rating
        rating = float(container.strong.text)
        ratings.append(rating)
    
movies_df = pd.DataFrame(
    {'movie_name': movie_name,
     'year_of_release': year_of_release,
     'ratings': ratings,}
)

In [18]:
movies_df['year_of_release'] = movies_df['year_of_release'].str.extract('(\d+)').astype(int)

In [19]:
movies_df.head(10)

                                          movie_name  year_of_release  ratings
0                           The Shawshank Redemption             1994      9.3
1                                      The Godfather             1972      9.2
2                                    The Dark Knight             2008      9.0
3      The Lord of the Rings: The Return of the King             2003      9.0
4                              The Godfather Part II             1974      9.0
5                                   Schindler's List             1993      9.0
6                                       12 Angry Men             1957      9.0
7                                       Pulp Fiction             1994      8.9
8  The Lord of the Rings: The Fellowship of the Ring             2001      8.8
9                                         Fight Club             1999      8.8

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [20]:
page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')
page

In [21]:
soup=BeautifulSoup(page.content,'html.parser')

In [22]:
name=[]
for i in soup.find_all('td',class_="titleColumn"):
    name.append(i.text.replace("\n", "",)[12:])
# name
rating=[]
for i in soup.find_all('td',class_="ratingColumn imdbRating"):
    rating.append(i.text.replace("\n", ""))

year=[]
for i in soup.find_all('span',class_="secondaryInfo"):
    year.append(i.text.replace(")", " "))
# year

In [23]:
# print(len(name),len(year),len(rating))

In [24]:
import pandas as pd
df1 = pd.DataFrame({'Name':name,'Rating':rating,'Year_Of_Release':year})
df1['Year_Of_Release']=df1['Year_Of_Release'].str.extract('(\d+)').astype(int)
df1

                                            Name Rating  Year_Of_Release
0      Ramayana: The Legend of Prince Rama(1993)    8.5             1993
1               Rocketry: The Nambi Effect(2022)    8.4             2022
2                                  Golmaal(1979)    8.4             1979
3                                  Nayakan(1987)    8.4             1987
4                               Anbe Sivam(2003)    8.4             2003
..                                           ...    ...              ...
245                          Minnal Murali(2021)    7.7             2021
246                         Poove Unakkaga(1996)    7.7             1996
247                             Goodachari(2018)    7.7             2018
248                                    Don(1978)    7.6             1978
249                                   Joji(2021)    7.6             2021

[250 rows x 3 columns]

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [45]:
page=requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [46]:
soup=BeautifulSoup(page.text,'html.parser')

In [60]:
president =[]
term_of_office =[]
for heading in  soup.find_all('h3'):
    president.append(heading.text)
#     print(heading_data)

for i in soup.find_all('p'):
    term_of_office.append(i.text)

In [61]:
headlines

["Twitter's laid-off workers cannot pursue",
 "Wharton's Jeremy Siegel says the U.S. ha",
 'Bitcoin climbs above $20,000 first time ',
 'Op-ed: Oil CEO Sultan Al Jaber is the id',
 "At least 68 killed in Nepal's worst air ",
 'JPMorgan upgrades this under-the-radar L',
 'Iranian oil exports end 2022 at a high, ',
 "'Flash' star Ezra Miller avoids jail wit",
 'Sweden finds huge deposit of rare earth ',
 'Dow closes 100 points higher, S&P 500 an',
 'Just one G-7 leader will join Davos elit',
 'Dividend stocks are beating the market —',
 'Russian missiles strike vital infrastruc',
 'U.S. will hit its debt limit Thursday, s',
 'Iran executes British-Iranian national d',
 'Brazil top court to investigate Bolsonar',
 'Qatar, UAE energy ministers say gas will',
 'Biden and Kishida discuss Japan ‘steppin',
 'CDC says it’s ‘very unlikely’ Pfizer boo',
 'A battle between Disney and activist Pel']

In [62]:
term_of_office

['Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'https://ramnathkovind.nic.in',
 'Term of Office: 25 July, 2012 to 25 July, 2017 ',
 'http://pranabmukherjee.nic.in',
 'Term of Office: 25 July, 2007 to 25 July, 2012 ',
 'http://pratibhapatil.nic.in',
 'Term of Office: 25 July, 2002 to 25 July, 2007 ',
 'http://abdulkalam.nic.in',
 'Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Term of Office: 24 August, 1974 to 11 February, 1977',
 'Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Term of Office: 13 May, 1967 to 3 May, 1969',
 'Term of Office: 13 May, 1962 to 13 May, 1967',
 'Term of Office: 26 January, 1950 to 13 May, 1962',
 'Copyright © 2022 The Rashtrapati Bhavan.',
 'Page last updated on: 22-July-2022 15:58 PM\n',
 "\r\n Website hosted by National Informatics Centre. Website Content provided by the President's Secretariat."]

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

In [34]:
page=requests.get('https://www.cnbc.com/world/?region=world')
page

In [35]:
soup=BeautifulSoup(page.content,'html.parser')

In [36]:
headlines=[]
for i in soup(class_="RiverHeadline-headline RiverHeadline-hasThumbnail"):
    headlines.append(i.text[0:40])
times=[]
for i in soup(class_="RiverByline-datePublished"):
    times.append(i.text)
new_link=[]
for i in soup.find_all('div',class_="RiverHeadline-headline RiverHeadline-hasThumbnail"):
    new_link.append(i.a['href'])

In [37]:
print(len(headlines),len(times),len(new_link))

20 0 20

In [65]:
df3=pd.DataFrame({"Headlines":headlines,'New_Link':new_link})
df3

,Headlines,New_Link
0,Twitter's laid-off workers cannot pursue,https://www.cnbc.com/2023/01/15/twitters-laid-...
1,Wharton's Jeremy Siegel says the U.S. ha,/pro/
2,"Bitcoin climbs above $20,000 first time",https://www.cnbc.com/2023/01/14/bitcoin-climbs...
3,Op-ed: Oil CEO Sultan Al Jaber is the id,https://www.cnbc.com/2023/01/14/climate-change...
4,At least 68 killed in Nepal's worst air,https://www.cnbc.com/2023/01/15/at-least-16-ki...
5,JPMorgan upgrades this under-the-radar L,/pro/
6,"Iranian oil exports end 2022 at a high,",https://www.cnbc.com/2023/01/15/iranian-oil-ex...
7,'Flash' star Ezra Miller avoids jail wit,https://www.cnbc.com/2023/01/13/flash-star-ezr...
8,Sweden finds huge deposit of rare earth,https://www.cnbc.com/2023/01/13/sweden-mining-...
9,"Dow closes 100 points higher, S&P 500 an",https://www.cnbc.com/2023/01/12/stock-market-f...
10,Just one G-7 leader will join Davos elit,https://www.cnbc.com/2023/01/13/germanys-schol...
11,Dividend stocks are beating the market —,/pro/
12,Russian missiles strike vital infrastruc,https://www.cnbc.com/2023/01/14/russian-missil...
13,"U.S. will hit its debt limit Thursday, s",https://www.cnbc.com/2023/01/13/us-will-hit-it...
14,Iran executes British-Iranian national d,https://www.cnbc.com/2023/01/14/iran-executes-...
15,Brazil top court to investigate Bolsonar,https://www.cnbc.com/2023/01/14/brazil-top-cou...
16,"Qatar, UAE energy ministers say gas will",https://www.cnbc.com/2023/01/14/qatar-uae-ener...
17,Biden and Kishida discuss Japan ‘steppin,https://www.cnbc.com/2023/01/13/biden-and-kish...
18,CDC says it’s ‘very unlikely’ Pfizer boo,https://www.cnbc.com/2023/01/13/pfizer-covid-b...
19,A battle between Disney and activist Pel,https://www.cnbc.com/2023/01/14/a-battle-betwe...

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articlesScrape below mentioned details :
### i) Paper Title
### ii) Authors
### iii) Published Date
### iv) Paper URL

In [ ]:
page=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [ ]:
soup=BeautifulSoup(page.content,'html.parser')

In [ ]:
Paper_Title=[]
publish_date=[]
author =[]
paper_url=[]

In [ ]:
# Paper_Title=[]
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    Paper_Title.append(i.text)
# author =[]
for ib in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(ib.text)
# publish_date=[]
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    publish_date.append(i.text)
# paper_url=[]
for i in soup.find_all(class_="sc-5smygv-0 fIXTHm"):
    paper_url.append(i['href'])

In [ ]:
import pandas as pd
journal_df = pd.DataFrame({'Paper_Title':Paper_Title,'author':author,'publish_date':publish_date,'paper_url':paper_url})
journal_df.head(10)

# 9) Write a python program to scrape mentioned details from dineout.co.in :
### i) Restaurant name
### ii) Cuisine
### iii) Location
### iv) Ratings
### v) Image URL

In [39]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [40]:
soup=BeautifulSoup(page.content)

In [41]:
Restaurant_Name=[]
Price=[]
Location=[]
Rating=[]
Image_Url = []

In [42]:
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    Restaurant_Name.append(i.text)
for i in soup.find_all('span',class_="double-line-ellipsis"):
    Price.append(i.text)
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    Rating.append(i.text)

for i in soup.find_all('img',class_="no-img"):
    Image_Url.append(i.get('data-src'))
# image

In [43]:
# print(len(Restaurant_Name),len(Price),len(Rating),len(Location),len(Image_Url))

9 9 9 9 9

In [44]:
dinout_df=pd.DataFrame({'Restaurant_Name':Restaurant_Name,'Price':Price,'Rating':Rating,'Location':Location,'Image_Url':Image_Url})
dinout_df

,Restaurant_Name,Price,Rating,Location,Image_Url
0,Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian",4.1,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"₹ 1,680 for 2 (approx) | North Indian, Asian, ...",3.9,"3CS Mall,Lajpat Nagar - 3, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"₹ 3,000 for 2 (approx) | Italian, Continental",4.3,"The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian",3.9,"Pacific Mall,Tagore Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"₹ 1,700 for 2 (approx) | North Indian, Chinese",4,"Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"₹ 2,400 for 2 (approx) | North Indian, Italian",3.9,"Hilton Garden Inn,Saket, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"₹ 1,800 for 2 (approx) | North Indian",3.6,"Taurus Sarovar Portico,Mahipalpur, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"₹ 1,900 for 2 (approx) | North Indian",3.8,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"₹ 2,200 for 2 (approx) | North Indian, Mughlai",4.3,"Suncity Business Tower,Golf Course Road, Gurgaon",https://im1.dineout.co.in/images/uploads/resta...

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
### a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
### b) Top 10 women’s ODI Batting players along with the records of their team and rating.
### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [ ]:
url=("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
data = requests.get(url).text

In [ ]:
soup = BeautifulSoup(data, 'html.parser')

In [ ]:
# Verifying tables and their classes
for table in soup.find_all('table'):
    print(table.get('class'))

In [ ]:
# Creating list with all tables
tables = soup.find_all('table')
#  Looking for the table with the classes 'wikitable' and 'sortable'
table = soup.find('table', class_='table')
table

In [ ]:
df = pd.DataFrame(columns=['Match','Points','Rating'])

In [ ]:
df.