In [1]:
import pandas as pd
import numpy as np
import pickle
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

/Users/aditya/opt/anaconda3/envs/datascience_env/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Data Collection and Processing

In [2]:
# Load tha data and print first five rows
titanic_data=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/dataset1/master/titanic_train.csv")
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Show the number of rows and columns
titanic_data.shape

(891, 12)

# EDA

In [4]:
# some basic information about dataset
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
# Check number of missin value in each column 
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# Handling the missing value

In [6]:
## Drop the cabin column from dataset
titanic_data=titanic_data.drop('Cabin',axis=1)

In [7]:
titanic_data['Age'].fillna(titanic_data['Age'].mean(),inplace=True)

In [8]:
# replacing the missing value in embarked column with mode value of embarked
titanic_data.Embarked.mode()[0]
titanic_data['Embarked'].fillna(titanic_data.Embarked.mode()[0],inplace=True)

In [9]:
# Chck the number of missing value of each column
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [10]:
# Observation :-

In [11]:
# Data Analysis

In [12]:
titanic_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [13]:
# Encoding the categorical column

In [14]:
titanic_data['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [15]:
titanic_data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [16]:
# titanic_data.replace({'Sex':{'male':0,'female':1},'Embarked':{'S':0,'C':1,'Q':2}})
titanic_data.replace({'Sex':{'male':0,'female':1},'Embarked':{'S':0,'C':1,'Q':2}},inplace=True)

# seprate the column in fearue and target

In [17]:
X=titanic_data.drop(columns=['PassengerId','Name','Ticket','Survived','Sex','Age','SibSp','Parch','Fare'],axis=1)
Y=titanic_data['Survived']

In [18]:
# Spliting the data into train and test

In [19]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=2,test_size=0.2)

In [20]:
# print(X.shape),
# print(X_train.shape),
# print(Y_train.shape)

In [21]:
# print(Y.shape,Y_train.shape,Y_test.shape)

In [22]:
X

     Pclass  Embarked
0         3         0
1         1         1
2         3         0
3         1         0
4         3         0
..      ...       ...
886       2         0
887       1         0
888       3         0
889       1         1
890       3         2

[891 rows x 2 columns]

In [23]:
print(Y)
# column=['Pclass',  'Embarked']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

# Model Building

In [24]:
LR_Model=LinearRegression()
pipe=LR_Model.fit(X_train,Y_train)

In [25]:
prediction_accuresy=LR_Model.predict(X_train)
prediction_accuresy

array([0.67517483, 0.19919231, 0.19919231, 0.19919231, 0.19919231,
       0.39435408, 0.19919231, 0.28485129, 0.58951585, 0.19919231,
       0.39435408, 0.67517483, 0.19919231, 0.19919231, 0.67517483,
       0.58951585, 0.19919231, 0.19919231, 0.39435408, 0.37051028,
       0.67517483, 0.39435408, 0.39435408, 0.67517483, 0.39435408,
       0.58951585, 0.19919231, 0.19919231, 0.67517483, 0.19919231,
       0.19919231, 0.67517483, 0.58951585, 0.19919231, 0.19919231,
       0.19919231, 0.58951585, 0.19919231, 0.37051028, 0.67517483,
       0.19919231, 0.19919231, 0.39435408, 0.37051028, 0.39435408,
       0.19919231, 0.19919231, 0.58951585, 0.37051028, 0.58951585,
       0.19919231, 0.28485129, 0.58951585, 0.56567205, 0.39435408,
       0.39435408, 0.58951585, 0.28485129, 0.56567205, 0.39435408,
       0.67517483, 0.58951585, 0.39435408, 0.67517483, 0.67517483,
       0.39435408, 0.39435408, 0.19919231, 0.19919231, 0.39435408,
       0.58951585, 0.37051028, 0.19919231, 0.39435408, 0.48001306,
       0.19919231, 0.19919231, 0.19919231, 0.19919231, 0.19919231,
       0.19919231, 0.58951585, 0.48001306, 0.19919231, 0.67517483,
       0.58951585, 0.19919231, 0.28485129, 0.19919231, 0.19919231,
       0.39435408, 0.19919231, 0.19919231, 0.67517483, 0.19919231,
       0.19919231, 0.19919231, 0.67517483, 0.39435408, 0.58951585,
       0.58951585, 0.67517483, 0.39435408, 0.19919231, 0.19919231,
       0.19919231, 0.19919231, 0.67517483, 0.19919231, 0.39435408,
       0.19919231, 0.39435408, 0.39435408, 0.19919231, 0.37051028,
       0.67517483, 0.19919231, 0.37051028, 0.37051028, 0.19919231,
       0.19919231, 0.58951585, 0.19919231, 0.28485129, 0.67517483,
       0.19919231, 0.67517483, 0.19919231, 0.39435408, 0.19919231,
       0.39435408, 0.28485129, 0.37051028, 0.37051028, 0.39435408,
       0.37051028, 0.58951585, 0.39435408, 0.67517483, 0.19919231,
       0.39435408, 0.58951585, 0.58951585, 0.28485129, 0.19919231,
       0.48001306, 0.58951585, 0.19919231, 0.58951585, 0.19919231,
       0.19919231, 0.39435408, 0.19919231, 0.28485129, 0.37051028,
       0.19919231, 0.19919231, 0.19919231, 0.28485129, 0.19919231,
       0.19919231, 0.37051028, 0.39435408, 0.39435408, 0.39435408,
       0.39435408, 0.39435408, 0.19919231, 0.37051028, 0.19919231,
       0.39435408, 0.19919231, 0.67517483, 0.58951585, 0.39435408,
       0.39435408, 0.19919231, 0.19919231, 0.39435408, 0.19919231,
       0.39435408, 0.39435408, 0.39435408, 0.58951585, 0.19919231,
       0.67517483, 0.19919231, 0.19919231, 0.28485129, 0.39435408,
       0.67517483, 0.67517483, 0.67517483, 0.19919231, 0.28485129,
       0.58951585, 0.58951585, 0.19919231, 0.67517483, 0.37051028,
       0.58951585, 0.19919231, 0.58951585, 0.19919231, 0.39435408,
       0.19919231, 0.19919231, 0.39435408, 0.58951585, 0.19919231,
       0.39435408, 0.48001306, 0.39435408, 0.67517483, 0.58951585,
       0.19919231, 0.28485129, 0.19919231, 0.58951585, 0.28485129,
       0.37051028, 0.58951585, 0.28485129, 0.39435408, 0.19919231,
       0.28485129, 0.67517483, 0.67517483, 0.67517483, 0.19919231,
       0.19919231, 0.58951585, 0.39435408, 0.19919231, 0.39435408,
       0.37051028, 0.39435408, 0.39435408, 0.28485129, 0.37051028,
       0.28485129, 0.19919231, 0.19919231, 0.67517483, 0.58951585,
       0.19919231, 0.19919231, 0.19919231, 0.37051028, 0.37051028,
       0.19919231, 0.37051028, 0.19919231, 0.28485129, 0.37051028,
       0.67517483, 0.58951585, 0.19919231, 0.19919231, 0.39435408,
       0.28485129, 0.19919231, 0.58951585, 0.19919231, 0.19919231,
       0.37051028, 0.19919231, 0.67517483, 0.19919231, 0.28485129,
       0.19919231, 0.19919231, 0.19919231, 0.39435408, 0.58951585,
       0.58951585, 0.39435408, 0.39435408, 0.39435408, 0.19919231,
       0.19919231, 0.39435408, 0.19919231, 0.28485129, 0.58951585,
       0.58951585, 0.37051028, 0.28485129, 0.39435408, 0.48001306,
       0.19919231, 0.19919231, 0.19919231, 0.19919231, 0.19919231,
       0.39435408, 0.28485129, 0.19919231, 0.19919231, 0.39435408,
       0.19919231, 0.37051028, 0.37051028, 0.28485129, 0.37051028,
       0.58951585, 0.19919231, 0.58951585, 0.19919231, 0.19919231,
       0.39435408, 0.37051028, 0.28485129, 0.28485129, 0.39435408,
       0.28485129, 0.19919231, 0.19919231, 0.58951585, 0.67517483,
       0.39435408, 0.28485129, 0.39435408, 0.19919231, 0.19919231,
       0.37051028, 0.58951585, 0.19919231, 0.39435408, 0.67517483,
       0.19919231, 0.19919231, 0.19919231, 0.39435408, 0.67517483,
       0.39435408, 0.19919231, 0.19919231, 0.67517483, 0.58951585,
       0.19919231, 0.58951585, 0.19919231, 0.19919231, 0.19919231,
       0.39435408, 0.58951585, 0.19919231, 0.58951585, 0.19919231,
       0.39435408, 0.67517483, 0.19919231, 0.39435408, 0.19919231,
       0.19919231, 0.39435408, 0.19919231, 0.67517483, 0.37051028,
       0.39435408, 0.19919231, 0.58951585, 0.39435408, 0.39435408,
       0.58951585, 0.58951585, 0.67517483, 0.48001306, 0.58951585,
       0.28485129, 0.19919231, 0.58951585, 0.39435408, 0.37051028,
       0.37051028, 0.28485129, 0.67517483, 0.19919231, 0.58951585,
       0.37051028, 0.37051028, 0.19919231, 0.28485129, 0.39435408,
       0.28485129, 0.58951585, 0.39435408, 0.19919231, 0.39435408,
       0.19919231, 0.19919231, 0.19919231, 0.19919231, 0.58951585,
       0.39435408, 0.19919231, 0.19919231, 0.67517483, 0.48001306,
       0.28485129, 0.19919231, 0.39435408, 0.19919231, 0.67517483,
       0.58951585, 0.19919231, 0.58951585, 0.67517483, 0.48001306,
       0.67517483, 0.28485129, 0.37051028, 0.37051028, 0.58951585,
       0.19919231, 0.39435408, 0.58951585, 0.39435408, 0.39435408,
       0.58951585, 0.19919231, 0.37051028, 0.19919231, 0.37051028,
       0.37051028, 0.28485129, 0.37051028, 0.19919231, 0.58951585,
       0.19919231, 0.19919231, 0.19919231, 0.19919231, 0.58951585,
       0.56567205, 0.37051028, 0.39435408, 0.19919231, 0.19919231,
       0.58951585, 0.37051028, 0.39435408, 0.28485129, 0.28485129,
       0.19919231, 0.37051028, 0.28485129, 0.39435408, 0.39435408,
       0.19919231, 0.19919231, 0.39435408, 0.28485129, 0.19919231,
       0.19919231, 0.58951585, 0.19919231, 0.67517483, 0.37051028,
       0.19919231, 0.39435408, 0.28485129, 0.19919231, 0.19919231,
       0.58951585, 0.19919231, 0.39435408, 0.19919231, 0.58951585,
       0.19919231, 0.19919231, 0.58951585, 0.19919231, 0.19919231,
       0.19919231, 0.37051028, 0.58951585, 0.19919231, 0.37051028,
       0.19919231, 0.48001306, 0.67517483, 0.39435408, 0.19919231,
       0.67517483, 0.58951585, 0.19919231, 0.37051028, 0.39435408,
       0.39435408, 0.67517483, 0.19919231, 0.37051028, 0.19919231,
       0.19919231, 0.37051028, 0.37051028, 0.58951585, 0.58951585,
       0.19919231, 0.28485129, 0.19919231, 0.39435408, 0.39435408,
       0.19919231, 0.37051028, 0.19919231, 0.48001306, 0.19919231,
       0.19919231, 0.19919231, 0.67517483, 0.58951585, 0.19919231,
       0.19919231, 0.37051028, 0.28485129, 0.58951585, 0.39435408,
       0.28485129, 0.39435408, 0.48001306, 0.19919231, 0.19919231,
       0.58951585, 0.39435408, 0.19919231, 0.37051028, 0.58951585,
       0.58951585, 0.19919231, 0.19919231, 0.37051028, 0.37051028,
       0.48001306, 0.39435408, 0.39435408, 0.48001306, 0.58951585,
       0.48001306, 0.39435408, 0.28485129, 0.39435408, 0.28485129,
       0.19919231, 0.19919231, 0.39435408, 0.19919231, 0.67517483,
       0.19919231, 0.19919231, 0.19919231, 0.19919231, 0.37051028,
       0.39435408, 0.19919231, 0.28485129, 0.39435408, 0.19919231,
       0.39435408, 0.19919231, 0.19919231, 0.19919231, 0.37051028,
       0.37051028, 0.28485129, 0.19919231, 0.67517483, 0.58951585,
       0.39435408, 0.67517483, 0.67517483, 0.67517483, 0.19919231,
       0.39435408, 0.28485129, 0.39435408, 0.19919231, 0.67517483,
       0.76083382, 0.19919231, 0.37051028, 0.19919231, 0.19919231,
       0.67517483, 0.28485129, 0.58951585, 0.58951585, 0.19919231,
       0.39435408, 0.19919231, 0.28485129, 0.19919231, 0.39435408,
       0.39435408, 0.19919231, 0.39435408, 0.19919231, 0.19919231,
       0.39435408, 0.19919231, 0.48001306, 0.28485129, 0.39435408,
       0.19919231, 0.19919231, 0.19919231, 0.67517483, 0.58951585,
       0.37051028, 0.58951585, 0.58951585, 0.19919231, 0.28485129,
       0.28485129, 0.58951585, 0.19919231, 0.37051028, 0.19919231,
       0.39435408, 0.19919231, 0.39435408, 0.28485129, 0.28485129,
       0.19919231, 0.19919231, 0.19919231, 0.39435408, 0.67517483,
       0.39435408, 0.19919231, 0.67517483, 0.19919231, 0.58951585,
       0.19919231, 0.39435408, 0.58951585, 0.67517483, 0.58951585,
       0.39435408, 0.19919231, 0.19919231, 0.67517483, 0.37051028,
       0.58951585, 0.19919231, 0.19919231, 0.19919231, 0.58951585,
       0.19919231, 0.19919231, 0.58951585, 0.19919231, 0.39435408,
       0.19919231, 0.58951585, 0.19919231, 0.19919231, 0.19919231,
       0.28485129, 0.67517483, 0.58951585, 0.19919231, 0.19919231,
       0.39435408, 0.19919231, 0.19919231, 0.39435408, 0.67517483,
       0.19919231, 0.39435408, 0.58951585, 0.19919231, 0.19919231,
       0.58951585, 0.58951585, 0.67517483, 0.39435408, 0.28485129,
       0.39435408, 0.58951585, 0.67517483, 0.37051028, 0.19919231,
       0.39435408, 0.58951585, 0.67517483, 0.67517483, 0.19919231,
       0.19919231, 0.58951585, 0.19919231, 0.58951585, 0.19919231,
       0.39435408, 0.37051028, 0.19919231, 0.67517483, 0.58951585,
       0.19919231, 0.39435408, 0.58951585, 0.19919231, 0.19919231,
       0.39435408, 0.67517483, 0.19919231, 0.28485129, 0.67517483,
       0.58951585, 0.58951585])

In [26]:
# y_pred=pipe.predict(X_test)
# y_pred

In [27]:
# r2_score(Y_test,y_pred)
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0

In [28]:
survid=pipe.predict(pd.DataFrame([
    [1,1]],
    columns=['Pclass','Embarked']
))
print(survid)

[0.67517483]

In [29]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)

In [30]:
import pickle
pickle.dump(LR_Model,open('titanic_model_new','wb'))
loaded_model=pickle.load(open('titanic_model_new','rb'))
survived = loaded_model.predict(scaler.transform([[3,0]]))
print("Probabily of Survived : ",(survived))

Probabily of Survived :  [0.5744792]

/Users/aditya/opt/anaconda3/envs/datascience_env/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
/Users/aditya/opt/anaconda3/envs/datascience_env/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(