In [ ]:
Q-1. Write SQL query to create table Customers.

Ans :- 
CREATE TABLE `customers` (
  `customerNumber` int(11) NOT NULL,`customerName` varchar(50) NOT NULL,
  `contactLastName` varchar(50) NOT NULL,`contactFirstName` varchar(50) NOT NULL,`phone` varchar(50) NOT NULL,
  `addressLine1` varchar(50) NOT NULL,`addressLine2` varchar(50) DEFAULT NULL,`city` varchar(50) NOT NULL,
  `state` varchar(50) DEFAULT NULL,`postalCode` varchar(15) DEFAULT NULL,
  `country` varchar(50) NOT NULL,`salesRepEmployeeNumber` int(11) DEFAULT NULL,`creditLimit` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`customerNumber`),KEY `salesRepEmployeeNumber` (`salesRepEmployeeNumber`),
  CONSTRAINT `customers_ibfk_1` FOREIGN KEY (`salesRepEmployeeNumber`) REFERENCES `employees` (`employeeNumber`)
)

In [ ]:
Q-2 Write SQL query to create table Orders.

Ans :-
    
CREATE TABLE `orders` (
  `orderNumber` int(11) NOT NULL,  `orderDate` date NOT NULL,  `requiredDate` date NOT NULL,
  `shippedDate` date DEFAULT NULL,  `status` varchar(15) NOT NULL,`comments` text,`customerNumber` int(11) NOT NULL,
  PRIMARY KEY (`orderNumber`),KEY `customerNumber` (`customerNumber`),
  CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`customerNumber`) REFERENCES `customers` (`customerNumber`)
);

In [ ]:
Q-3 Write SQL query to show all the columns data from the Orders Table.

Ans :- 
    
    select * from orders;

In [ ]:
Q-4 Write SQL query to show all the comments from the Orders Table.

Ans :-
    
    select comments from orders;

In [ ]:
Q-5 Write a SQL query to show orderDate and Total number of orders placed on that date, from Orders table.

Ans :-
    
    SELECT orderDate, COUNT(orderNumber) FROM orders GROUP BY orderDate;

In [ ]:
Q-6 Write a SQL query to show employeNumber, lastName, firstName of all the employees from employees table.

Ans :-
    
    select employeeNumber,firstName,lastName from employees;

In [ ]:
Q-7 Write a SQL query to show all orderNumber, customerName of the person who placed the respective order.

Ans :-
    
    SELECT orders.orderNumber, customers.customerName FROM orders, customers WHERE orders.customerNumber = customers.customerNumber;

In [ ]:
Q-8 Write a SQL query to show name of all the customers in one column and salerepemployee name in another column.

Ans :-
    
    SELECT  CONCAT(customers.contactFirstName,' ',customers.contactLastname) as CustomerName,CONCAT(employees.firstName,' ',employees.lastname) as EmployeeName FROM customers,employees WHERE employees.employeeNumber = customers.salesRepEmployeeNumber;

In [ ]:
Q-9 Write  a SQL query to show Date in one column and total payment amount of the payments made on that date from the payments table.

Ans :-
    
    SELECT paymentDate, sum(amount) FROM payments GROUP BY paymentDate;

In [ ]:
Q-10 Write a SQL query to show all the products productName, MSRP, productDescription from the products table.

Ans :-
    
    select productName,productDescription,MSRP from products;

In [ ]:
11. Write a SQL query to print the productName, productDescription of the most ordered product.

In [ ]:
Q-12. Write a SQL query to print the city name where maximum number of orders were placed.

In [ ]:
Q-13. Write a SQL query to get the name of the state having maximum number of customers.

Ans :-
    
    SELECT state, COUNT(customerNumber) FROM customers GROUP BY state;