# Quetions 1

In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import re
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import requests

In [4]:
##Q1 Program to Search particular product on Amazon, input is taken from user instead of hardcoded values
driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')
# driver.maximize_window()
driver.get("https://www.amazon.in/")
product_text=driver.find_element(By.ID,"twotabsearchtextbox")
product= input("Enter Product name: ")
product_text.send_keys(product)
submit=driver.find_element(By.XPATH,"//input[@type='submit']")
submit.click()

/var/folders/5_/zt1gkvk17s534j4yb6f487_40000gn/T/ipykernel_53562/406449843.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

Enter Product name: guitar

## Q2 Scrapping Data

In [5]:
product_url = []
url = driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")

    
for i in url:
    product_url.append(i.get_attribute('href'))
len(product_url)

74

In [6]:
price= []
rep = [] 
brand = []
delivery = []
availablity = []
product_name = []
#by using try and except we can scrap all the details by clicking on product url
for i in product_url:
    driver.get(i)
    time.sleep(5)
    try:
        prices = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[5]/div[4]/div[1]/div[3]/div/div/div/div/form/div/div/div/div/div[2]/div[1]/div/span/span[2]")
        price.append(prices.text.replace('\n00',""))
    except NoSuchElementException:
        price.append('-')

    try:
        replacement = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[5]/div[4]/div[4]/div[22]/div[2]/div/div/div/div/span/div[2]/a")
        rep.append(replacement.text)
    except NoSuchElementException:
        rep.append('-')

    try:
        brands = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[5]/div[4]/div[4]/div[43]/div/table/tbody/tr[3]/td[2]")
        brand.append(brands.text)
    except NoSuchElementException:
        brand.append('-')
        
    try:
        deli = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[5]/div[4]/div[1]/div[3]/div/div/div/div/form/div/div/div/div/div[3]/div/div[2]/div[8]/div[1]/div/div/div[1]/b")
        delivery.append(deli.text)
    except NoSuchElementException:
        delivery.append('Not Present')
        
    try:
        avail = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[5]/div[4]/div[1]/div[3]/div/div/div/div/form/div/div/div/div/div[3]/div/div[4]/div/div[1]/span")
        availablity.append(avail.text)
    except NoSuchElementException:
        availablity.append('-')
        
    try:
        name=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[5]/div[4]/div[4]/div[1]/div/h1/span")
        prod_name=name.text
        product_name.append(prod_name)
        if(prod_name == 0):
            try:
                name1=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[6]/div[4]/div[4]/div[1]/div/h1/span')
                product_name.append(name1.text)
            except NoSuchElementException:
                product_name.append("-")
    except:
        product_name.append("-")
        
driver.close()

#dataframe
product = pd.DataFrame({'Product Name':product_name,'Brand':brand,'Price':price,'Availability':availablity,'Delivery':delivery,'Replacement/Exchange':rep,'URL':product_url})
product

,Product Name,Brand,Price,Availability,Delivery,Replacement/Exchange,URL
0,Kadence Slowhand Premium Jumbo Semi Acoustic G...,-,-,-,Not Present,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,Kadence Frontier guitar with Online Guitar lea...,-,-,-,Not Present,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,Vault DA20 Dreadnought Acoustic Guitar With Gi...,-,-,-,Not Present,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,Hontral S4 String Decor Guitar Children's Musi...,-,-,-,Not Present,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,"Juârez Acoustic Guitar, 38 Inch Cutaway, 038C ...",-,-,-,Not Present,-,https://www.amazon.in/Juarez-Acoustic-Cutaway-...
...,...,...,...,...,...,...,...
69,Revel 38 Inches Cutaway Design Acoustic Guitar...,-,-,-,Not Present,-,https://www.amazon.in/Acoustic-Plectrums-Begin...
70,"Blueberry R-40, 40"" TrussRod Sapele Wood Acous...",-,-,-,Not Present,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
71,"Blueberry 38C, 38"" Acoustic Guitar Kit with Ba...",-,-,-,Not Present,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
72,THE MUSIC WORLD - ACOUSTIC GUITAR F310,-,-,-,Not Present,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
73,Festra R-40-Natural Acoustic Guitar Kit with B...,-,-,-,Not Present,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...

# 3. Write a python program to access the search bar and search button on images.google.com and scrape 100 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’.

In [7]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import re
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import requests

In [8]:
driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

/var/folders/5_/zt1gkvk17s534j4yb6f487_40000gn/T/ipykernel_53562/1720704192.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

In [9]:
imageUrl='https://www.google.co.in/imghp'
driver.get(imageUrl)
search_list=['fruits','cars','Machine Learning','Guitar','Cakes']

In [ ]:
for i in search_list:
    name=i
    print(name)
    counter=i+str(1)
    driver.get(imageUrl)
    search_image=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
    search_image.send_keys(name)
    time.sleep(2)
    search_button=driver.find_element(By.XPATH,'//div[@class="zgAlFc"]')
    search_button.click()
    time.sleep(5)
    images = driver.find_elements(By.XPATH,"//img[@class='rg_i Q4LuWd']")
    time.sleep(3)
    img_urls = []
    img_data = []
    for image in images:
        source = image.get_attribute('src')
        if source is not None:
            if(source[0:4] == 'http'):
                img_urls.append(source)
            
        
    for i in range(len(img_urls)):
        if i > 10:
            break;
        print("Downloading {0} of {1} images".format(i,10))
        response = requests.get(img_urls[i])
        file = open(r"/Users/aditya/Desktop/fliprobo/workset5_webscrapping/sources/"+counter+str(i)+".jpg",'wb')
        file.write(response.content)
        #file.close()
driver.close()

# 4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page.

In [11]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import re
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [12]:
driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

/var/folders/5_/zt1gkvk17s534j4yb6f487_40000gn/T/ipykernel_53562/1720704192.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

In [13]:
url4='https://www.flipkart.com/search?q=oneplus%20nord&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
driver.get(url4)

In [14]:
Brand_Name=[]
Colour=[]
Storage_RAM_ROM=[]
P_F_Camera=[]
Display_size_Resolution=[]
ProcessorAndCores=[]
Battery=[]
Price=[]
Product_URL=[]

In [15]:
Brand_price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]')
try:
    for i in Brand_price:
        Price.append(i.text)
except:
    Price.append("-")

len(Price)

23

In [16]:
#scraping the Brand_Name 
BName=driver.find_elements(By.XPATH,"//div[@class='_4rR01T']")
for i in BName:
    if i.text is None :
        Brand_Name.append("--") 
    else:
        Brand_Name.append(i.text)
print(len(Brand_Name))

24

In [17]:
#scraping the Storage_RAM_ROM 
ram=driver.find_elements(By.XPATH,"//ul[@class='_1xgFaf']//li[1]")
for i in ram:
    if i.text is None :
        Storage_RAM_ROM.append("--") 
    else:
        Storage_RAM_ROM.append(i.text)
print(len(Storage_RAM_ROM))

24

In [18]:
#scraping the P_F_Camera 
PC=driver.find_elements(By.XPATH,"//ul[@class='_1xgFaf']//li[3]")
for i in PC:
    if i.text is None :
        P_F_Camera.append("--") 
    else:
        P_F_Camera.append(i.text)
print(len(P_F_Camera))

24

In [19]:
#scraping the Display_size_Resolution 
DS=driver.find_elements(By.XPATH,"//ul[@class='_1xgFaf']//li[2]")
for i in DS:
    if i.text is None :
        Display_size_Resolution.append("--") 
    else:
        Display_size_Resolution.append(i.text)
print(len(Display_size_Resolution))

24

In [20]:
#scraping the ProcessorAndCores 
P=driver.find_elements(By.XPATH,"//ul[@class='_1xgFaf']//li[5]")
for i in P:
    if i.text is None :
        ProcessorAndCores.append("--") 
    else:
        ProcessorAndCores.append(i.text)
print(len(ProcessorAndCores))

24

In [21]:
#scraping the Battery 
B=driver.find_elements(By.XPATH,"//ul[@class='_1xgFaf']//li[4]")
for i in B:
    if i.text is None :
        Battery.append("--") 
    else:
        Battery.append(i.text)
print(len(Battery))

24

In [ ]:
FlipKart=pd.DataFrame([])
FlipKart['Brand_Name']=Brand_Name
FlipKart['Storage_RAM_ROM']=Storage_RAM_ROM
FlipKart['Amount P_F_Camera']=P_F_Camera
FlipKart['Display_size_Resolution']=Display_size_Resolution
FlipKart['ProcessorAndCores']=ProcessorAndCores
FlipKart['Battery']=Battery
FlipKart['Price']=Price

FlipKart

In [22]:
driver.close()

# 5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [23]:
driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

/var/folders/5_/zt1gkvk17s534j4yb6f487_40000gn/T/ipykernel_53562/1720704192.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

In [24]:
driver.get("https://www.google.com/maps/")
user_input=input("Enter city name for which coordinates is required : ")
time.sleep(5)

Enter city name for which coordinates is required : mumbai

In [25]:

search=driver.find_element(By.XPATH,'//input[@autofocus="autofocus"]')
search.click()
search.send_keys(user_input)
search_button=driver.find_element(By.ID,'searchbox-searchbutton')
search_button.click()
time.sleep(5)

In [26]:
lat=[]
long=[]
try:
    url_string = driver.current_url
    print("URL Extracted :",url_string)
    lat_long = re.findall(r'@(.*)data',url_string)
    if len(lat_long):
        lat_long_list = lat_long[0].split(",")
        if len(lat_long_list)>=2:
            lat.append(lat_long_list[0])
            long.append(lat_long_list[1])
except Exception as e:
    print("error:",str(e))

time.sleep(2)
driver.close()

location_data=pd.DataFrame({'Enter Location':user_input,'latitude':lat,'longitude':long})
location_data

URL Extracted : https://www.google.com/maps/place/Mumbai,+Maharashtra/@19.0826881,72.6009798,10z/data=!3m1!4b1!4m6!3m5!1s0x3be7c6306644edc1:0x5da4ed8f8d648c69!8m2!3d19.0759837!4d72.8776559!16zL20vMDR2bXA

  Enter Location    latitude   longitude
0         mumbai  19.0826881  72.6009798

# 6. Write a program to scrap details of all the funding deals for second quarter (i.e. July 20 – September 20) from trak.in.

In [27]:
driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

/var/folders/5_/zt1gkvk17s534j4yb6f487_40000gn/T/ipykernel_53562/1720704192.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

In [28]:
url1="https://trak.in/india-startup-funding-investment-2015/"
driver.get(url1)

In [29]:
Dates=[]
Company=[]
Industry=[]
Investor_Name=[]
Investment_Type=[]
Amount=[]

In [ ]:
#scraping the company_name 
companies=driver.find_elements(By.XPATH,"//td[@class='column-3']")
for i in companies:
    if i.text is None :
        Company.append("--") 
    else:
        Company.append(i.text)
print(len(Company))

In [ ]:
#scraping the Industry 
Ind=driver.find_elements(By.XPATH,"//td[@class='column-4']")
for i in Ind:
    if i.text is None :
        Industry.append("--") 
    else:
        Industry.append(i.text)
print(len(Industry))

In [ ]:
#scraping the Dates 
dt=driver.find_elements(By.XPATH,"//td[@class='column-2']")
for i in dt:
    if i.text is None :
        Dates.append("--") 
    else:
        Dates.append(i.text)
print(len(Dates))

In [ ]:
#scraping the Investor_Name 
IN=driver.find_elements(By.XPATH,"//td[@class='column-7']")
for i in IN:
    if i.text is None :
        Investor_Name.append("--") 
    else:
        Investor_Name.append(i.text)
print(len(Investor_Name))

In [ ]:
#scraping the Investment_Type 
IT=driver.find_elements(By.XPATH,"//td[@class='column-8']")
for i in IT:
    if i.text is None :
        Investment_Type.append("--") 
    else:
        Investment_Type.append(i.text)
print(len(Investment_Type))

In [ ]:
#scraping the Amount 
Price=driver.find_elements(By.XPATH,"//td[@class='column-9']")
for i in Price:
    if i.text is None :
        Amount.append("--") 
    else:
        Amount.append(i.text)
print(len(Amount))

In [36]:
Funding=pd.DataFrame([])
Funding['Company']=Company
Funding['Industry']=Industry
Funding['Investor_Name']=Investor_Name
Funding['Amount Invested']=Amount
Funding['Specification']=Investment_Type
Funding['Dates']=Dates
Funding

,Company,Industry,Investor_Name,Amount Invested,Specification,Dates
0,BYJU’S,Edu-tech,Innoven Capital,"460,000,000",Series F,01/04/2021
1,Meesho,E-commerce,SoftBank Vision Fund 2,"300,000,000",Series E,05/04/2021
2,Swiggy,Online Food Delivery,"Amansa Holdings, Carmignac, Falcon Edge Capita...","343,000,000",Series J,14/04/2021
3,Groww,FinTech,"MC Global Edtech, B Capital, Baron, others","83,000,000",Series D,07/04/2021
4,Beldara,E-commerce,Hindustan Media Ventures,"7,400,000",Venture,14/04/2021
...,...,...,...,...,...,...
387,zippserv,Consumer Internet,Info Edge (India) Ltd,"440,000",Seed/ Angel Funding,09/07/2018
388,Groww,Consumer Internet,"Insignia Ventures Partners, Lightbridge Partne...","1,100,000",Seed/ Angel Funding,09/07/2018
389,Avenue Growth,Consumer Internet,"Avtar Monga, chief operating office at IDFC Ba...","437,000",Seed/ Angel Funding,10/07/2018
390,iNICU,Healthcare,Venture Catalysts,N/A,Seed/ Angel Funding,10/07/2018
391,Kinara Capital,Finance,ResponsAbility,"5,000,000",Private Equity,10/07/2018

In [37]:
driver.close()

# 7. Write a program to scrap all the available details of top 10 gaming laptops from digit.in.

In [38]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time
import re
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [39]:
driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

/var/folders/5_/zt1gkvk17s534j4yb6f487_40000gn/T/ipykernel_53562/1720704192.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

In [40]:
url="https://www.digit.in/top-products/best-gaming-laptops-40.html"
driver.get(url)

In [41]:
Brands=[]
Products_Description=[]
Specification=[]
Price=[]

In [ ]:
br= driver.find_elements(By.XPATH,'//div[@class="TopNumbeHeading"]')

# br=driver.find_elements_by_xpath("//div[@class=TopNumbeHeading]")
len(br)
for i in br:
   
    Brands.append(str(i.text).replace("\n",""))
Brands

In [ ]:
sp=driver.find_elements(By.XPATH,"//div[@class='Specs-Wrap']")
len(sp)
for i in sp:
   
    Specification.append(str(i.text).replace("\n",""))
Specification

In [ ]:
des=driver.find_elements(By.XPATH,"//div[@class='Section-center']")
len(des)
for i in des:
   
    Products_Description.append(str(i.text).replace("\n",""))
Products_Description

In [ ]:
pri=driver.find_elements(By.XPATH,"//td[@class='smprice']")
len(pri)
for i in pri:
   
    Price.append(str(i.text).replace("\n",""))
Price

In [46]:
digit_lap=pd.DataFrame([])
digit_lap['Brands']=Brands[0:10]
digit_lap['Price']=Price[0:10]
digit_lap['Specification']=Specification[0:10]
digit_lap['Description']=Products_Description[0:10]
digit_lap

,Brands,Price,Specification,Description
0,1.MSI Titan GT77-12UHS,N/A,"Windows 11 Home OS17.3"" (3840 x 2160) Display1...",The very best MSI gaming laptop featuring an I...
1,2.Alienware X17 R2,"₹ 389,990","Windows 11 Home OS17.3"" (1920 x 1080) Display1...","Alienware, the premium gaming brand from Dell ..."
2,3.Acer Predator Triton 500 SE PT516-52s,"₹ 229,990","Windows 11 OS16"" (2560 x 1600) Display12th Gen...",The Predator lineup from Acer has shown great ...
3,4.Omen By HP (16-B1371TX),"₹ 176,490","Windows 11 Home OS16.1"" (2560 x 1440) Display1...",Omen by HP is a premium gaming lineup which is...
4,5.Acer Predator Helios 300 AN515-45,"₹ 172,999","Windows 11 Home OS15.6"" (2560 x 1440) DisplayA...",Acer Predator Helios 300 AN515-45 is the best ...
5,6.MSI Delta 15 (A5EFK-083IN),"₹ 188,990","Windows 11 Home OS15.6"" (1920 x 1080) DisplayA...",The best MSI gaming laptop with an AMD process...
6,7.Omen By HP (16-C0141AX),"₹ 124,990","Windows 11 Home OS16.1"" (2560 x 1440) DisplayA...",Another worthy gaming laptop from the Omen lin...
7,8.Lenovo Legion 5i Pro (82RF00MGIN),"₹ 167,990","Windows 11 Home OS16"" (2560 x 1600) Display12t...",Lenovo has gone a little mainstream with their...
8,9.Alienware M15 R5 Ryzen Edition Icc-C780001win,"₹ 174,000","Windows 11 Home OS15.6"" (1920 x 1080) DisplayA...",Dell not only has gaming laptops under the Del...
9,10.Lenovo Slim 7 Gen 6 (82K8002JIN),"₹ 131,990",Windows 11 Home OS15.6 MP | NA DisplayLenovo R...,Lenovo has been pushing for thinner gaming lap...

In [47]:
driver.close()

# 8 Write a python program to scrape the details for all billionaires from www.forbes.# com. Details to bescrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [48]:
driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

/var/folders/5_/zt1gkvk17s534j4yb6f487_40000gn/T/ipykernel_53562/1720704192.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

In [49]:
driver.get("https://www.forbes.com/")

In [50]:

#Try block to navigating to page all billionaires page
try:
    menu=driver.find_element(By.XPATH,"//div[@class='header__left']")
    menu.click()
    
    billionaires=driver.find_element(By.XPATH,"//li[@data-title='Billionaires']")
    billionaires.click()

    worldBillionaires=driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div[3]/ul/li[1]/div[2]/ul/li[2]/a')
    worldBillionaires.click()
    
except NoSuchElementException:
    #Except block if try block doesn't works 
    driver.get("https://www.forbes.com/billionaires/")

In [51]:
time.sleep(3)
rank=[]
name=[]
net_worth=[]
age=[]
citizenship=[]
source=[]
industry=[]

time.sleep(3)
start=0
end=13

In [52]:
for page in range(start,end):
    ranks=driver.find_elements(By.XPATH,'//div[@class="rank"]')
    try:
        for i in ranks:
            b_ranks=i.text
            rank.append(b_ranks)
    except NoSuchElementException:
        rank.append("-")
    
    names=driver.find_elements(By.XPATH,'//div[@class="personName"]')
    try:
        for i in names:
            b_names=i.text
            name.append(b_names)
    except NoSuchElementException:
        name.append("-")
        
    netWorth=driver.find_elements(By.XPATH,'//div[@class="netWorth"]')
    try:
        for i in netWorth:
            b_networth=i.text
            net_worth.append(b_networth)
    except NoSuchElementException:
        net_worth.append("-")
    
    ages=driver.find_elements(By.XPATH,'//div[@class="netWorth"]')
    try:
        for i in ages:
            b_age=i.text
            age.append(b_age)
    except NoSuchElementException:
        age.append("-")
    
    citizenships=driver.find_elements(By.XPATH,'//div[@class="countryOfCitizenship"]')
    try:
        for i in citizenships:
            b_citizenship=i.text
            citizenship.append(b_citizenship)
    except NoSuchElementException:
        citizenship.append("-")
    
    sources=driver.find_elements(By.XPATH,'//div[@class="source"]')
    try:
        for i in sources:
            b_source=i.text
            source.append(b_source)
    except NoSuchElementException:
        source.append("-")
        
    industries=driver.find_elements(By.XPATH,'//div[@class="category"]')
    try:
        for i in industries:
            b_industries=i.text
            industry.append(b_industries)
    except NoSuchElementException:
        industry.append("-")

In [53]:
billionaires=pd.DataFrame({'Rank':rank,'Name':name,'Net Worth':net_worth,'Age':age,'Citizenship':citizenship,'Source':source,'Industry':industry})
billionaires

,Rank,Name,Net Worth,Age,Citizenship,Source,Industry
0,1.,Elon Musk,$219 B,$219 B,United States,"Tesla, SpaceX",Automotive
1,2.,Jeff Bezos,$171 B,$171 B,United States,Amazon,Technology
2,3.,Bernard Arnault & family,$158 B,$158 B,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$129 B,$129 B,United States,Microsoft,Technology
4,5.,Warren Buffett,$118 B,$118 B,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
2595,192.,Marcel Herrmann Telles,$10.3 B,$10.3 B,Brazil,beer,Food & Beverage
2596,197.,Leon Black,$10 B,$10 B,United States,private equity,Finance & Investments
2597,197.,Joe Gebbia,$10 B,$10 B,United States,Airbnb,Technology
2598,197.,David Geffen,$10 B,$10 B,United States,"movies, record labels",Media & Entertainment
2599,197.,Yu Renrong,$10 B,$10 B,China,semiconductors,Manufacturing

In [54]:
driver.close()

# 9 Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video

In [55]:
driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

/var/folders/5_/zt1gkvk17s534j4yb6f487_40000gn/T/ipykernel_53562/1720704192.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('/Users/aditya/Downloads/chromedriver')

In [60]:
#https://www.youtube.com/watch?v=r-hZb0iVQZI
url=input("Enter the URL: ")
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get(url)
time.sleep(5)

Enter the URL: https://www.youtube.com/watch?v=Sb0A9i6d320

/var/folders/5_/zt1gkvk17s534j4yb6f487_40000gn/T/ipykernel_53562/443831978.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [61]:
comments = []
upvote = []
posted = []

In [62]:
for _ in range(30):
    driver.execute_script("window.scrollBy(0,100)")
    time.sleep(3)
    
    com_xpath = driver.find_elements(By.ID,"content-text")
    for i in com_xpath:
        comments.append(i.text)
        
    post = driver.find_elements(By.XPATH,'//yt-formatted-string[@class="published-time-text style-scope ytd-comment-renderer"]')
    for i in post:
        posted.append(i.text)
        
        
    upvotes = driver.find_elements(By.ID,"vote-count-middle")
    for i in upvotes:
        upvote.append(i.text)

        
driver.close()

In [63]:
youtube_video=pd.DataFrame({'Comments':comments,'Comments Upvote':upvote,'Comment is POSTED':posted})
youtube_video

,Comments,Comments Upvote,Comment is POSTED
0,This is such a great project! So relevant for ...,41,8 months ago
1,Probably THE BEST tutorial on streamlit! Great...,42,1 year ago
2,Absolutely awesome demonstration. Thorough exp...,13,8 months ago
3,"Great work chief , love your work and it helps...",11,1 year ago
4,I’m currently at a beginner level and would li...,,4 months ago
...,...,...,...
555,"hey man, thank you very much for your tutorial...",2,1 year ago
556,"Thanks, mate. Im new to Python and this was gr...",1,5 months ago
557,Thank you so much for this tutorial. Your expl...,3,1 year ago
558,Many thanks for this great work ! I found you ...,1,6 months ago
559,BRUTAL! thank you so much for share this kind ...,,3 months ago

In [ ]:
driver.close()